# Default ignored files
/../../Pokemon Explorer /.idea/shelf/
/../../Pokemon Explorer /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Pokemon Explorer /.idea/httpRequests/
# Datasource local storage ignored files
/../../Pokemon Explorer /.idea/dataSources/
/../../Pokemon Explorer /.idea/dataSources.local.xml
